task-manager/TaskXMLSerializer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="task">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="active" use="optional"/>
          <xs:attribute type="xs:string" name="end" use="optional"/>
          <xs:attribute type="xs:string" name="repeat" use="optional"/>
          <xs:attribute type="xs:string" name="repeated" use="optional"/>
          <xs:attribute type="xs:string" name="start" use="optional"/>
          <xs:attribute type="xs:string" name="time" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="tasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="task" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>